.container div.row {
  padding: 10px;
}

h3 {
  width: 100%;
}

h4 {
  width:25px;
}

label {
  margin-right: 20px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

#fieldGrid .row input {
  margin-right: 20px;
}