.container div.row {
  padding: 10px;
}

h3 {
  width: 100%;
}

h4 {
  width:25px;
}

label {
  margin-right: 20px;
}

button:not(#submit) {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

#fieldGrid .row input {
  margin-right: 20px;
}