.container div.row {
  padding: 10px;
  width: 100%;
}

input[type=radio] {
  border: 0px;
  width: 40px;
  height: 40px;
}

h3 {
  width: 100%;
  font-size: 50px;
}

h4 {
  width:35px;
}

label {
  margin-right: 20px;
}

button:not(#submit) {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

#fieldGrid .row input {
  margin: 2px;
  margin-right: 100px;
}